<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Login Page">
    <title>Личный кабинет</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
</head>

<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<th:block th:replace="~{fragments/search :: search}"></th:block>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-4">Войдите в аккаунт</h3>
                    <form th:action="@{/login}" method="post" th:object="${user}">
                        <div class="mb-3">
                            <label for="username" class="form-label">Логин</label>
                            <input type="text" class="form-control" id="username" th:field="*{username}"
                                   placeholder="Имя пользователя">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}"
                                   placeholder="Пароль">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Войти</button>
                    </form>
                    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
                    <p class="mt-3 text-center">Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>

<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/templatemo.js}"></script>
</body>
</html>
