<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Мебельный Магазин</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
</head>

<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>
<th:block th:replace="~{fragments/search :: search}"></th:block>

<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Заказ</h1>
            <h1 class="h3 pb-4" th:text="'от ' + ${created}"></h1>

            <ul class="list-unstyled templatemo-accordion" th:unless="${checkout}">
                <li class="pb-3">
                    <a class="d-flex justify-content-between h3 text-decoration-none">
                        Детали заказа
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="list-unstyled pl-3">
                        <li class="text-decoration-none" th:text="'Текущий статус: ' + ${order.status}"></li>
                        <li class="text-decoration-none" th:text="'Метод доставки: ' + ${order.deliveryType}"></li>
                        <li class="text-decoration-none" th:text="'Кол-во товаров: ' + ${count}"></li>
                        <li class="text-decoration-none" th:text="'Итоговая сумма: ' + ${order.totalPrice} + '₽'"></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row g-3">
                <div class="col-12" th:each="oi : ${order.orderItems}">
                    <div class="card shadow-sm p-3 d-flex flex-row align-items-center">

                        <div style="width: 100px;">
                            <img th:src="@{${oi.item.img}}" class="img-fluid rounded" alt="item image">
                        </div>

                        <div class="flex-grow-1 ps-3">
                            <h5 class="mb-1" th:text="${oi.item.name}"></h5>
                            <p class="mb-1 text-muted" th:text="'Бренд: ' + ${oi.item.brand}"></p>
                            <p class="mb-1" th:text="'Кол-во: ' + ${oi.count}"></p>
                            <p class="mb-0 fw-bold" th:text="${oi.item.price.doubleValue() * oi.count} + '₽'"></p>
                        </div>
                    </div>
                </div>

                <div class="flex-grow-1 ps-3" th:unless="${checkout}" th:if="${payment}" th:object="${payment}">
                    <h5 class="mb-1" th:text="'Оплата №' + *{id}"></h5>
                    <p class="mb-1" th:text="'Сумма: ' + *{amount} + '₽'"></p>
                    <p class="mb-1" th:text="'Тип оплаты: ' + *{paymentType}"></p>
                    <p class="mb-0" th:text="'Статус: ' + *{status}"></p>
                </div>

                <form th:if="${checkout}" th:action="@{/orders/{id}/process(id=${order.id})}" method="post"
                      th:object="${orderDto}">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="deliveryType" class="form-label">Способ доставки</label>
                            <select class="form-select" id="deliveryType" th:field="*{deliveryType}" required>
                                <option th:unless="${order.deliveryType}" value="" disabled selected>Выберите...
                                </option>
                                <option value="COURIER" th:selected="${order.deliveryType == 'COURIER'}">Курьер
                                </option>
                                <option value="PICKUP" th:selected="${order.deliveryType == 'PICKUP'}">Самовывоз
                                </option>
                                <option value="POST" th:selected="${order.deliveryType == 'POST'}">Почта</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="paymentType" class="form-label">Способ оплаты</label>
                            <select class="form-select" id="paymentType" th:field="*{paymentType}" required>
                                <option value="" disabled selected>Выберите...</option>
                                <option value="CASH">Наличными при получении</option>
                                <option value="CARD">Картой при получении</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-success btn-lg mt-2">Оформить заказ</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>

    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/templatemo.js}"></script>

</body>
</html>